*.pdf
*.pptx
*.pptx.pdf
*.txt
*BACKUP*
*_BACKUP*
from dream to action -videogame v1.html
from dream to action - quest v2.html
from dream to direction.html
MEMORY.md
project.md
*.png
!ANYA HORVAT - no background.png
!LUIS MARTINEZ - no background.png
!SOFIA BECKER- no background.png
!YOAV LEVI - no background.png
!Chania 2026 -13 (1).png
!Chania 2026 -13.png
!LOGO CHANIA 2026 -PNG-NO SPACE.png
